@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Anton";
  src: url("fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face{
  font-family: "Bebas Neue";
  src: url(fonts/BebasNeue-Regular.ttf) format("truetype");
}
body {
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
  margin-left: 40px;
  margin-top: 5px;
  height: 65px;
  width: 100px;
  padding-top: 10px;
}
.over-bar{
  background-color: lightgrey;
  color: rgb(100, 99, 99);
  width: 100%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-bottom: 8px;
}
.fa-location-dot{
  margin-left: 20px;
}
.fa-user{
  margin-left: 85%;
}
a:link{
  text-decoration: none;
  color: black;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
header{
  width: 100%;
  position: sticky;
  font-weight: 550;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  height: 80px;
}

.menu-items > li{
  margin: 0 2rem;
  padding-top: 5px;
  margin-top: 10px;
  display: block;
}
.navbar{
  max-height: 0;
  transition: max-height .5s ease-out;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  padding-top: 15px;
}
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}
.hamb-line{
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}
.hamb-line::before,
.hamb-line::after{
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}
.side-menu{
  display:none;
}
.side-menu:checked ~navbar{
  max-height: 100%;
}
.side-menu:checked ~.hamb .hamb-line{
  background: transparent;
}
.side-menu:checked ~.hamb .hamb-line::before{
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~.hamb .hamb-line::after{
  transform: rotate(45deg);
  top: 0;
}
@media (min-width: 700px){
  .navbar{
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    vertical-align: auto;
  }
  .menu-items li{
    float: left;
  }
  .hamb{
    display: none;
  }
}



#sale:hover,
#womens:hover,
#mens:hover,
#kids:hover,
#aboutus:hover {
  text-decoration: underline;
}
.contact{
  background-color: white;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: solid;
  border-color: rgb(188, 186, 186);
  border-width: 2px;
  border-radius: 6.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 30px;
}
.contact:hover{
  background-color: rgb(188, 186, 186);
  color: white;
}
h1,
h2,
.main,
#home-cover {
  font-family: "Anton", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  line-height: 1.5;
}
h1{
  font-size: 40px;
}
p, .fall {
  font-size: 20px;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif ;
  margin-bottom: 10px;
}
.fall {
  border: none;
  background-color: white;
  color: black;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  align-content: center;
  margin-left: 25px;
  cursor: pointer;
  margin-top: 20px;
}
.fall:hover{
  background-color: rgb(14, 71, 85);
  color: white;
}
.group{
  padding-top: 40px;
}
#home-cover {
  position: absolute;
  height: inherit;
  bottom: 50px;
  right: 60px;
  height: 150px;
}
  .home-cover{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/home-cover-small.jpg) ;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 600px){
  .home-cover{
    background-image: url(images/home-cover-small.jpg);
  }
}

.container{
 display: flex;
 width: 100%;
 justify-content: space-around;
 flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  padding-bottom: 80px;
  margin: auto;
}
#men {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/portrait-young-man-sport-trekking-outfit-standing.jpg) ;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 20px;
  margin-top: 30px;
  
}

#women {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/womens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-width: 200px;
  min-height: 180px;
display: inline-block;
margin-right: 20px;
margin-top: 30px;

}
#kid{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/kids-green-forest-playingconcept-kids-vacations-travel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
min-width: 200px;
min-height: 180px;
padding: 20px;
display: inline-block;
margin-right: 20px;
margin-top: 30px;
}






.subscribe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/smiling-couple-walking-with-backpacks-green-hills.jpg);
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat;
  line-height: 1;
  padding-left: 60px;
  padding-top: 20%;
}
@media (max-width: 600px){
  .subscribe{
    background-image: url(images/smiling-couple-small.jpg);
  }
}
.off {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-decoration: underline;
  margin-left: 15px;
}
.signup{
  color: white;
  margin-bottom: 18px;
}
.subs{
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: rgb(14, 71, 85);
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 60px;
  margin-top: 15px;
}
.subs:hover{
  background-color: rgb(188, 186, 186);
  color: rgb(14, 71, 85);
}




.fall-adventures {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/man-with-backpack-walks-amazing-autumn-forest.jpg);
background-repeat: no-repeat;
  background-size: 100%;
  height: 480px;
  margin-bottom: 80px;
}
@media (max-width: 900px){
  .fall-adventures{
    background-image: url(images/man-backpack-small.jpg);
    height: 400px;
  }
}

.fall-adventures h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.arrivals{
  margin-left: 55px;
  border: none;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.arrivals:hover{
  background-color: rgb(14, 71, 85);
  color: white;
}
#fall-adventures{
  padding-top: 20%;
  margin-left: 60%;
}
@media (max-width: 900px){
  #fall-adventures{
  padding-top: 15%;
  margin-left: 45%;
  }
  #fall-adventures h1{
    font-size: 20px;
  }
  .arrivals{
    margin-left: 25px;
  border: none;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 500;
  background-color: white;
  padding-top:5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  }
}
.container3{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  gap: 30px;
  margin-bottom: 30px;
}
.container4{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 80px;
}
.jackets{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/men-chilling-autumn-forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 20px;
}
.shorts {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/tourist-walks-stone\ \(1\).png) ;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 20px;
}
.pants {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/pants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}
.tshirts {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/tshirts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 20px;
}
.shoes {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/shoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 20px;
}
.accesories {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/accesories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}
#jackets,
#shorts,
#pants,
#tshirts,
#shoes,
#accesories{
  padding-top: 80px;
}













.about-us{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/aoutus.png) ;
  background-size: cover;
  height: 90vh;
  filter: grayscale(100%);
  background-repeat: no-repeat;
}
#about-us{
  display: flex;
  justify-content:baseline;
  padding-top: 30px;
  margin-left: 60px;
  font-size: 50px;
}
.history{
  color: black;
  font-family: "Bebas Neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
}
.history2{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 60px;
}

.contactus1{
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
  margin-left: 90px;
  margin-bottom: 30px;
}
input[type=text], select, textarea{
  width: 300px;
  padding: 12px;
  border: solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: top;
  align-content: top;
}
.contact1{
  margin-bottom: 40px;
  display: flex;
  width: cover;
  justify-content: space-around;
  flex-wrap: wrap;
}
.group1,
.group2{
  width: 400px;
}

#country{
  background-color: white;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
#email::placeholder,
#fname::placeholder,
#subject::placeholder,
#message::placeholder{
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
}
input[type=submit] {
  background-color: rgb(10, 54, 65);
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
}
input[type=submit]:hover {
  background-color: rgb(23, 155, 215);
}
a{
  color: black;
}

.men{
  color: black;
  margin-left: 30px;
  font-size: 30px;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
}
.filters{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: gainsboro;
  padding-top: 0.2px;
  padding-bottom: 0.2px;
}
#Color,
#Size,
#Collection,
#Sort{
background-color: white;
width: 100px;
height: 25px;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 10px;
padding-left: 10px;
margin-right: 10px;
font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
}
#sort{
  float: right;
}
.filters p {
  margin-right: 6px;
  margin-left: 40px;
}
.filter2{
  margin-left: 90px;
}
.sizes:hover{
text-decoration: underline;
}
.sizes{
  cursor: pointer;
}
.CTA{
  background-color: #908D8D;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* display: grid; */
  float: right;
  margin-right: 70px; 
}
.CTA a {
  color: #fff;
}
.CTA:hover{
  background-color: #0A3641;
  color: white;
  cursor: pointer;
}
.modal{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
}
.modal_buy{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.modal-state{
  display: none;
}
.modal-state:checked + .modal{
  opacity: 1;
  visibility: visible;
}
.modal-state:checked + .modal
.modal_inner{
  top: 0;
}
.modal_inner{
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  height: fit-content;
}
.modal_close{
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}
.modal_close:after,
.modal_close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}
.modal_close:hover:after, 
.modal_close:hover:before{
  background: #aaa;
}
.modal_close:before{
  transform: rotate(-45deg);
}
.product-added{
  font-size: 50px;
  color: black;
  text-align: center;
}
.prices{
  float: inline-end;
}
.bag{
  align-items: center;
  background-color: #0A3641;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  width: 250px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: auto;
  display: flex;
  justify-content: center; 
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}
.bag:hover{
  background-color: #128DAC;
}

.products a img:last-child{
  display: none;
}
a:hover img:last-child{
display: block;
}
a:hover img:first-child{
  display:none;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(3,  minmax(0, 1fr));
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}
.produtcs {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.products img {
  grid-column: -1/1;
  width: 180px;
  height: 200px;
  margin-top: 60px;

}
.products h3, 
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 6px;
  display: inline-block;
}


.continue-shopping {
  background-color: white;
  border: solid 1px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 40%;
  margin-top: 20px;
 float: right;
}
.continue-shopping:hover{
  background-color: #0A3641;
  color: white;
  border: none;
}

.shopping1 h3,
.shopping2 h3{
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.shopping-container{
display: inline-block;
}
.shopping1{
  background-color: white;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 70px;
  border-radius: 30px;
  margin-top: 60px;
  min-width: 280px;
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
  margin-left: 30px;
}
.shopping2{
  width: 300px;
  background-color: rgb(225, 222, 222);
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  margin-top: 60px;
  margin-bottom: 30px;
  display: inline-block;
}
.shopping2 p,
.shopping1 p{
  font-size: 15px;
}
.shopping2 p{
  display: inline-block;
}
.price2{
  text-align: end;
  float: inline-end;
}
.vat{
  color: #939292;
  font-size: 10px;
}
.check-out{
  background-color: #0A3641;
  color: white;
  border: none;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  cursor: pointer;
}
.check-out:hover{
  background-color: #128DAC;
}
.signin{
  background-color:#908D8D;
  color: white;
  border: none;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  margin-left: 35%;
}
.signin:hover{
  background-color: #0A3641;
}
#country2{
  width: 90px;
  background-color: rgb(225, 222, 222);
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.payment-icons{
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
 margin-bottom: 30px;
}

.group1 h3,
.group2 h3{
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.checkout{
  margin-left: 50px;
}
.checkout h3{
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.checkout p{
  font-size: 15px;

}
input[type=text2]{
  width: 200px;
  padding: 8px;
  border: solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  text-align: top;
  align-content: top;
}
input[type=text3]{
  width: 75px;
  padding: 8px;
  border: solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  resize: vertical;
  text-align: top;
  align-content: top;
}
.summary{
  background-color:#ccc;
  color: black;
  border: none;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 400px;
}
.checkout-proceed{
display: flex;
gap: 60px;
margin-bottom: 50px;
}
.summary{
  height: 350px;
  width: 350px;
}

.checkout1,
.checkout2{
  float: left;
}
.checkout1{
  margin-right: 30px;
}
.product-added1{
  font-size: 25px;
  text-align: center;
}
.fa-circle-check{
  color: #128DAC;
  margin-left: 40%;
}
.items1{
  font-size: 14px;
  text-align: center;

}
.container2-1{
  width: 200px;
}
.container2-2{
  display: flex;
  justify-content: space-evenly;
  gap: 60px;
  flex-wrap: wrap;
}

footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo-footer{
  height: 65px;
  width: 100px;
  left: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cart {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
}