@font-face {
  font-family: "Urbanist";
  src: url("fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Anton";
  src: url("fonts/Anton-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf) format("truetype");
}
@font-face{
  font-family: "Bebas Neue";
  src: url(fonts/BebasNeue-Regular.ttf) format("truetype");
}
body {
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
  margin-left: 40px;
  margin-top: 5px;
}
.over-bar{
  background-color: lightgrey;
  color: rgb(100, 99, 99);
  width: 100%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-bottom: 8px;
}
.fa-location-dot{
  margin-left: 20px;
}
.fa-user{
  margin-left: 85%;
}
a:link{
  text-decoration: none;
  color: black;
}
header{
  width: 100%;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  font-weight: 550;
  vertical-align: top;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
#sale,
#womens,
#mens,
#kids,
#aboutus,
.contact{
  display: inline-block;
  padding: 20px;
  margin-left: 90px;
}
#sale:hover,
#womens:hover,
#mens:hover,
#kids:hover,
#aboutus:hover {
  text-decoration: underline;
}
.contact{
  background-color: white;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  border: solid;
  border-color: rgb(188, 186, 186);
  border-width: 2px;
  border-radius: 6.5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}
.contact:hover{
  background-color: rgb(188, 186, 186);
  color: white;
}
h1,
h2,
.main,
#home-cover {
  font-family: "Anton", Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
h1{
  font-size: 35px;
}
p, .fall {
  font-size: 20px;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif ;
}
.fall {
  border: none;
  background-color: white;
  color: black;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  align-content: center;
  margin-left: 25px;
  cursor: pointer;
}
.fall:hover{
  background-color: rgb(14, 71, 85);
  color: white;
}
.group{
  padding-top: 40px;
}
#home-cover {
  padding-top: 20%;
  padding-left: 60%;
  line-height: 18px;
}
  .home-cover{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/home-cover.jpg) ;
  background-size: 100%;
  min-height: 690px;
  background-repeat: no-repeat;
  margin-bottom: 80px;
}
.container{
  width: 100%;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}
#men {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/portrait-young-man-sport-trekking-outfit-standing.jpg) ;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  
}

#women {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/womens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-width: 200px;
  min-height: 180px;
display: inline-block;
margin-left: 90px;
margin-right: 90px;
}
#kid{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/kids-green-forest-playingconcept-kids-vacations-travel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
min-width: 200px;
min-height: 180px;
padding: 20px;
display: inline-block;
}






.subscribe {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/smiling-couple-walking-with-backpacks-green-hills.jpg);
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat;
  line-height: 1;
  padding-left: 60px;
  padding-top: 20%;
}
.off {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-decoration: underline;
  margin-left: 15px;
}
.signup{
  color: white;
}
.subs{
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  background-color: rgb(14, 71, 85);
  color: white;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-left: 60px;
}
.subs:hover{
  background-color: rgb(188, 186, 186);
  color: rgb(14, 71, 85);
}




.fall-adventures {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/man-with-backpack-walks-amazing-autumn-forest.jpg);
background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px;
  margin-left: none;
  margin-right: none;
  margin-bottom: 80px;
}
.fall-adventures h1 {
  font-size: 40px;
}
.arrivals{
  margin-left: 55px;
  border: none;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  cursor: pointer;
}
.arrivals:hover{
  background-color: rgb(14, 71, 85);
  color: white;
}
#fall-adventures{
  padding-top: 20%;
  margin-left: 60%;
}
.container3{
  width: 100%;
  height: 590px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
}
.jackets{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/men-chilling-autumn-forest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10%;
  cursor: pointer;
}
.shorts {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/tourist-walks-stone\ \(1\).png) ;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
}
.pants {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/pants.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10%;
  cursor: pointer;
}
.tshirts {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/tshirts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10%;
  margin-top: 5%;
  cursor: pointer;
}
.shoes {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/shoes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 10%;
  cursor: pointer;
}
.accesories {
  background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/accesories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 200px;
  min-height: 180px;
  padding: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}
#jackets,
#shorts,
#pants,
#tshirts,
#shoes,
#accesories{
  padding-top: 80px;
}




















.about-us{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/aoutus.png) ;
  background-size: 100%;
  min-height: 620px;
  filter: grayscale(100%);
  background-repeat: no-repeat;
}
#about-us{
  padding-top: 30px;
  margin-left: 60px;
  font-size: 50px;
}
.history{
  color: black;
  font-family: "Bebas Neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
}
.history2{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 60px;
}

.contactus1{
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
  margin-left: 90px;
  margin-bottom: 30px;
}
input[type=text], select, textarea{
  width: 300px;
  padding: 12px;
  border: solid 1px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  text-align: top;
  align-content: top;
}
.contact1{
  margin-left: 110px;
  margin-bottom: 40px;
}
.group1,
.group2{
  display: inline-block
}
.group1{
  margin-right: 20%;
}
#country{
  background-color: white;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
#email::placeholder,
#fname::placeholder,
#subject::placeholder,
#message::placeholder{
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
}
input[type=submit] {
  background-color: rgb(10, 54, 65);
  color: white;
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 50px;
}
input[type=submit]:hover {
  background-color: rgb(23, 155, 215);
}
a{
  color: black;
}

.men{
  color: black;
  margin-left: 30px;
  font-size: 30px;
  font-family: "Archivo", Verdana, Geneva, Tahoma, sans-serif;
}
.filters{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: gainsboro;
  padding-top: 0.2px;
  padding-bottom: 0.2px;
}
#Color,
#Size,
#Collection,
#Sort{
background-color: white;
width: 100px;
height: 25px;
padding-top: 1px;
padding-bottom: 1px;
padding-right: 10px;
padding-left: 10px;
margin-right: 10px;
font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
}
#sort{
  float: right;
}
.filters p {
  margin-right: 6px;
  margin-left: 40px;
}
.filter2{
  margin-left: 90px;
}
.sizes:hover{
text-decoration: underline;
}
.sizes{
  cursor: pointer;
}
.CTA{
  background-color: #908D8D;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: grid;
  float: right;
  margin-right: 70px; 
}
.CTA:hover{
  background-color: #0A3641;
  color: white;
  cursor: pointer;
}
.modal{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, .9);
  transition: opacity .25s ease;
}
.modal_buy{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.modal-state{
  display: none;
}
.modal-state:checked + .modal{
  opacity: 1;
  visibility: visible;
}
.modal-state:checked + .modal
.modal_inner{
  top: 0;
}
.modal_inner{
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  height: 50%;
}
.modal_close{
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}
.modal_close:after,
.modal_close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}
.modal_close:hover:after, 
.modal_close:hover:before{
  background: #aaa;
}
.modal_close:before{
  transform: rotate(-45deg);
}
.product-added{
  font-size: 50px;
}
.prices{
  float: inline-end;
}
.bag{
  align-items: center;
  background-color: #0A3641;
  font-family: "Urbanist", Verdana, Geneva, Tahoma, sans-serif;
  border: solid 1px;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 20px;
  margin-left: 120px; 
  cursor: pointer;
}
.bag:hover{
  background-color: #128DAC;
}

.products a img:last-child{
  display: none;
}
a:hover img:last-child{
display: block;
}
a:hover img:first-child{
  display:none;
}
.product-list{
  display: grid;
  grid-template-columns: repeat(3,  minmax(0, 1fr));
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}
.produtcs {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.products img {
  grid-column: -1/1;
  width: 180px;
  height: 200px;
  margin-top: 60px;

}
.products h3, 
.products p {
  grid-column: 1;
  font-size: 0.9em;
  margin: 5px;
  display: inline-block;
}

.logo-footer, 
.icons{
  padding-top: 10px;
  padding-left: 40px;
  float: left;
  padding-right: 30px;
}
.container2 {
  background: black;
  width: 100%;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: left;
}
.fa-brands fa-facebook, fa-instagram, fa-twitter, fa-youtube{
  color: white;
}
#icons {
  color: white;
}
#services,
#legal,
#repair,
#explore,
#icons {
  display: inline-block;
  text-align: left;
  align-content: center top;
  padding-left: 50px;
  padding-right: 50px;
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 10px;
  vertical-align:top ;
}
